services:
  redis:
    restart: always
    image: ${REDIS_IMAGE}
    container_name: izone_redis
    volumes:
      - ./redis/data:/data
    networks:
      - backend

  web:
    restart: always
    image: ${IZONE_IMAGE}
    container_name: izone_web
    env_file:
      - ./izone.env
    volumes:
      - ./web/static:/opt/cloud/izone/static
      - ./web/media:/opt/cloud/izone/media
      - ./web/whoosh_index:/opt/cloud/izone/whoosh_index
      - ./web/log:/opt/cloud/izone/log
      - ./db/izone.db:/opt/cloud/izone/izone.db
    links:
      - redis
    depends_on:
      - redis
    networks:
      - backend
      - frontend

  nginx:
    restart: always
    image: ${NGINX_IMAGE}
    container_name: izone_nginx
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./web/static:/usr/share/nginx/izone/static
      - ./web/media:/usr/share/nginx/izone/media
    ports:
      - "${NGINX_PORT}:80"
    links:
      - web
    networks:
      - frontend

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
